.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 16px;
  padding: 48px 100px;
  justify-content: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 416px;
  padding: 48px 24px;
  gap: 32px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form button {
  margin-top: 16px;
  margin-bottom: 24px;
}

form .nova-conta {
  display: flex;
  flex-direction: column;
  padding: 40px 12px 0px 12px;
  gap: 4px;
  border-top: 1px solid var(--divider-color);
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 16px;
  }

  .left-side {
    display: none;
  }

  .right-side {
    max-width: unset;
    padding: 48px 0px;
  }
}