:root {
  --primary-color: #615FFF;
  --primary-20-color: #625fff;
  --primary-hover-color: #7C86FF;

  --secondary-color: #28303E;

  --text-color: #FFFFFF;

  --button-text-color: #FFFFFF;

  --divider-color: #BCB8B1;
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

div, p {
  margin: 0;
}

body {
  margin: 0;
  background-color: #030712;
  color: #FFFFFF;
  font-family: Inter, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex: 1;
  padding: 16px;
  min-height: 100vh;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-control label {
  font-weight: 500;
}

.form-control input {
  background-color: #1C2433;

  border-color: #333A48;
  border-width: 1px;
  border-radius: 6px;

  height: 48px;
  padding: 6px 12px;
}

button {
  background-color: var(--primary-color);

  border: 1px solid var(--primary-color);
  border-radius: 6px;

  color: var(--button-text-color);  

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 48px;

  transition-duration: 0.3s;
}

button:hover {
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);

  cursor: pointer;
}

a.hoverable {
  color: var(--primary-color);
  text-decoration: none;
  transition-duration: 0.3s;
}

a.hoverable:hover {
  color: var(--primary-hover-color);
}

.w-100 {
  width: 100%;
}